.productList{
    padding: 25px 150px;
}

.productList .list-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.productList .list-wrapper .card{
    cursor: pointer;
    flex: 0 0 30.6%;
}
.productList .title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}
.productList .desc{
    font-size: 18px;
    width: 60%;
    margin-bottom: 40px;
}