body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body a{
    text-decoration: none;
    color: black;
}
body .container-fluid{
    padding: 0;
}