body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body a{
    text-decoration: none;
    color: black;
}
body .container-fluid{
    padding: 0;
}
/*Scroll settings*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #5f676b;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5f676b;
}